---
layout: page-wide
jumbotron: false
title: Workshop
navbar: true
navbar-order: 0
show-banner: false
---

{% assign posts = site.data["feeds"]["posts"] %}

{% assign posts_pj = site.photojournal | reverse %}
{% assign posts_proj = site.projects | reverse %}

<div class="grid">
    {% include grid-post.html posts=posts_pj idx=0 title="Photojournal" %}

    {% include grid-post.html name="full-spectrum" posts=posts_pj title="Full-Spectrum Wallpaper" %}

    {% assign feed = posts | where: "type", "observable" %}
    {% include feed.html feed=feed title="Interactive Notebooks" feedname="observable" %}
    
    {% assign feed = posts | where: "type", "notion" %}
    {% include feed.html feed=feed title="Living Docs" feedname="notion" %}

    {% assign feed = posts | where: "type", "luckybox" %}
    {% include feed.html feed=feed title="Lucky Box" feedname="luckybox" %}

    {% include grid-post.html name="film-tagger" posts=posts_proj title="Analog Metadata" %}

    {% include grid-post.html name="bespoke-chinrest" posts=posts_proj title="Bespoke Violin Chinrest" %}

    {% include grid-post.html name="cyanotype-qr" posts=posts_proj title="Analog QR" %}

</div>
