---
layout: page
jumbotron: false
title: Music

navbar: true
navbar-order: 2
---

<br>
<form id="email">
  <label for="email">Concert Mailing List</label><br>
  <input type="text" id="email" name="email" placeholder="Your Email Address"><button type="submit" id="email-submit">Join</button>
</form> 
<div class="disclaimer">
  <span class="disclaimer-toggle">
    I will never share or sell your data.
  </span>
  <span class="disclaimer-text">
    When you submit your email address, it is handled by AWS and stored in a private Notion database. If you would like your email address to be removed, please contact me <a href="mailto:evan.dorsky@gmail.com">here</a>.
  </span>
</div>

{% assign now = "now" | date: "%s" %}

{% assign shows = site.shows %}

<!-- create list of upcoming shows -->
<!-- this is how we create an empty array in liquid -->
{% assign shows_u = '' | split: '' %}
{% assign shows_p = '' | split: '' %}
{% for show in shows %}
  {% assign showdate = show.date | date: "%s" %}
  {% if showdate > now %}
<!-- this is how we append to an array in liquid -->
    {% assign shows_u = shows_u | push: show %}
  {% else %}
    {% assign shows_p = shows_p | push: show %}
  {% endif %}
{% endfor %}

{% assign shows_p = shows_p | reverse %}

<!-- <img class="music-banner" src="/assets/img/about/quartet.webp"> -->

<!-- { % include carousel.html auto_advance=true n_photos=5 series_name="2023-09-22-string-quartet" id="carousel" class="carousel-standalone" %} -->

{% assign post = site.photojournal | where: "slug", "string-quartet" %}
{% assign post = post[0]%}
{% include scroller.html id="quartet" template="post-post-preview" items=post n_items=post.n_photos %}

<br>

<!--
  use soonest upcoming show for thumbnail, or 
  most recent show if there are no upcoming shows
-->
{% if shows_u.size > 0 %}
  {% assign thumb_show = shows_u[0] %}
{% else %}
  {% assign thumb_show = shows_p[0] %}
{% endif %}

{% assign pathsplit = thumb_show.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign show_name = namesplit[0] %}

<meta property="og:image" content="/{{ show_name }}.html.png" />

<!-- upcoming shows (time flows down) -->
{% if shows_u.size > 0 %}
  <div class="show-label upcoming">Upcoming Concerts</div>
  <div class="left-line-border">

  {% for show in shows_u %}
    {% include music-show.html show=show %}
  {% endfor %}
</div>
{% endif %}

<!-- past shows (time flows up) -->
<div class="show-label past">Past Concerts</div>
{% assign last_year = "0" %}
{% for show in shows_p %}
  {% assign showdate = show.date | date: "%s" %}

  {% assign current_year = show.date | date: "%Y" %}
  {% if last_year != current_year %}
    {% unless forloop.first %}
    </div>
    {% endunless %}
    <div class="show-label year">{{ current_year }}</div>
    <div class="left-line-border">
  {% endif %}
  {% include music-show.html show=show %}
  {% assign last_year = show.date | date: "%Y" %}
{% endfor %}
