---
layout: page-wide
jumbotron: false
title: Photography
thumb: /assets/img/film/selected/goldengate.jpg

navbar: true
navbar-order: 1
row_height: 350
show-banner: true
---

<script type="text/javascript">
  window.galleryRowHeight = {{ page.row_height }}
  window.galleryLastRow = "left"
</script>

<h4>Photojournal</h4>

{% assign last_location = Nil %}
{% assign current_location = Nil %}
{% assign series_sorted = site.film | reverse %}
{% for series in series_sorted %}
  {% if series.role %}
    {% continue %}
  {% endif %}

  {% if series.location %}
    {% assign current_location = series.location %}
  {% endif %}
  {% if current_location != last_location %}
  {% unless forloop.first %}
  </div>
  {% endunless %}
  <div class="fj-gallery-separator">
    <h4 class="sep-date">
      {{ series.date | date: "%B %Y" }}
    </h4>
    <div class="sep-loc">
      {{ current_location }}
    </div>
  </div>
  <div class="fj-gallery">
  {% endif %}

  {% include post-preview.html post=series %}

  {% assign last_location = current_location %}
{% endfor %}
</div>