---
layout: page-wide
jumbotron: false
title: Photography
thumb: /assets/img/film/2022-12-28-street/03.webp

navbar: true
navbar-order: 1
row_height: 350
show-banner: true
---

<script type="text/javascript">
  window.galleryRowHeight = {{ page.row_height }}
  window.galleryLastRow = "left"
</script>

<br>
I shoot film on vintage cameras and lenses that I refurbish at my home in San Francisco.
<br>
<br>
Check out <a href="https://luckybox.substack.com">Lucky Box</a> for longer form writing around cameras, film, process, etc.

<h3 class="pj-header">Photojournal</h3>

{% assign last_location = Nil %}
{% assign current_location = Nil %}
{% assign series_sorted = site.film | reverse %}
{% for series in series_sorted %}
  {% if series.role %}
    {% continue %}
  {% endif %}

  {% if series.location %}
    {% assign current_location = series.location %}
  {% endif %}
  {% if current_location != last_location %}
  {% unless forloop.first %}
  </div>
  {% endunless %}
  <div class="fj-gallery-separator">
    <div class="sep-date">
      {{ series.date | date: "%B %Y" }}
    </div>
    <div class="sep-loc">
      {{ current_location }}
    </div>
  </div>
  <div class="left-line-border fj-gallery">
  {% endif %}

  {% include post-preview.html post=series %}

  {% assign last_location = current_location %}
{% endfor %}
</div>