---
layout: page-wide
jumbotron: false
title: Photo
# thumb: /assets/img/film/2022-12-28-street/03.webp
thumb: /assets/img/thumb.png

navbar: true
navbar-order: 1
row_height: 350
show-banner: false
---

<script type="text/javascript">
  window.galleryRowHeight = {{ page.row_height }}
  window.galleryLastRow = "left"
</script>

<!-- Feature -->

{% assign feature_gallery = site.portfolio | where: "title", "Feature" %}

<!-- { { feature_gallery[0].content }} -->

<!-- Selected -->

{% assign portfolio = site.portfolio | sort: 'order' | where: "role", "feature" %}
{% include feature-gallery.html preview="carousel-item" collection=portfolio id="carousel" %}

<!-- Work -->

{% assign photowork = site.photowork | sort: 'order' %}
<h3>Work</h3>
{% include series-gallery.html preview="post-pre-generic" collection=photowork id="photowork" row_height=200 %}

<!-- Photojournal -->

<h3 class="pj-header">Photojournal</h3>

<script type="text/javascript">
  if (!window.galleries) {
    window.galleries = {}
  }
  window.galleries["photoj"] = {
    row_height: 300,
    row_tol: 0.3
  }
</script>

{% assign last_location = Nil %}
{% assign current_location = Nil %}
{% assign series_sorted = site.photojournal | reverse %}
{% for series in series_sorted %}
  {% if series.role %}
    {% continue %}
  {% endif %}

  {% if series.location %}
    {% assign current_location = series.location %}
  {% endif %}
  {% if current_location != last_location %}
  {% unless forloop.first %}
  </div>
  {% endunless %}
  <div class="fj-gallery-separator">
    <div class="sep-date">
      {{ series.date | date: "%B %Y" }}
    </div>
    <div class="sep-loc">
      {{ current_location }}
    </div>
  </div>
  <div class="left-line-border fj-gallery" id="photoj">
  {% endif %}

  {% include post-preview.html post=series %}

  {% assign last_location = current_location %}
{% endfor %}
</div>