---
layout: page-wide
jumbotron: false
title: Test
# thumb: /assets/img/posts/2022-12-28-street/03.webp
thumb: /assets/img/thumb.png

navbar: true
navbar-order: 4
row_height: 350
show-banner: false
---

<script type="text/javascript">
  window.galleryRowHeight = {{ page.row_height }}
  window.galleryLastRow = "left"
</script>

{% assign series_sorted = site.photojournal | reverse %}

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

<script type="module" src="/js/scrollview.js"></script>

<div class="scroll-outer-container">
  <div class="scroller-sidebar">
    <ul class="pj-list">
  {% for item in series_sorted %}
    {% unless item.role %}
      {% assign item_date = item.date | date: "%m.%y" %}
      <li class="pj-list-item">{{ item.title }} {{ item_date }}</li>
    {% endunless %}
  {% endfor %}
    </ul>
  </div>
  <div class="scroll-inner-container">
  {% for item in series_sorted %}
    {% unless item.role %}
      {% include collection-preview-vert-text.html item=item %}
    {% endunless %}
  {% endfor %}
  </div>
</div>
