---
layout: index
jumbotron: false
title: Test
navbar: true
navbar-order: 0
show-banner: false
---

{% assign posts = site.data["feeds"]["posts"] %}

{% assign posts_pj = site.photojournal | reverse %}
{% assign posts_proj = site.projects | reverse %}

<div class="grid">
    <div class="feed grid-item" id="feed-photos">
      <div class="post title">
        Photojournal
      </div>
      {% assign post = posts_pj[1] %}
      {% include post-home-preview.html post=post %}
    </div>

    <div class="feed grid-item" id="feed-photos">
      <div class="post title">
        Full-Spectrum Wallpaper
      </div>
      {% assign post = posts_pj | where: "slug", "full-spectrum" %}
      {% assign post = post[0] %}
      {% include post-home-preview.html post=post %}
    </div>

    {% assign feed = posts | where: "type", "observable" %}
    {% include feed.html feed=feed title="Interactive Notebooks" feedname="observable" %}
    
    {% assign feed = posts | where: "type", "notion" %}
    {% include feed.html feed=feed title="Living Docs" feedname="notion" %}

    {% assign feed = posts | where: "type", "luckybox" %}
    {% include feed.html feed=feed title="Lucky Box" feedname="luckybox" %}

    <div class="feed grid-item" id="feed-photos">
      <div class="post title">
        Analog Metadata
      </div>
      {% assign post = posts_proj | where: "slug", "film-tagger" %}
      {% assign post = post[0] %}
      {% include post-home-preview.html post=post %}
    </div>
    <div class="feed grid-item" id="feed-photos">
      <div class="post title">
        Analog QR
      </div>
      {% assign post = posts_proj | where: "slug", "cyanotype-qr" %}
      {% assign post = post[0] %}
      {% include post-home-preview.html post=post %}
    </div>
</div>
