---
layout: index
jumbotron: false
title: Test
navbar: true
navbar-order: 0
show-banner: false
---

{% assign posts = site.data["feeds"]["posts"] %}

{% assign series = site.photojournal | reverse %}

<div class="flex-horiz">
  <div class="flex-vert">
    <div class="feed" id="feed-photos">
      <div class="post title">
        Photojournal
      </div>
      {% assign post = series[1] %}
      {% include post-home-preview.html post=post %}
    </div>

    <div class="feed" id="feed-photos">
      <div class="post title">
        Wallpaper Packs
      </div>
      {% assign post = series | where: "slug", "full-spectrum" %}
      {% assign post = post[0] %}
      {% include post-home-preview.html post=post %}
    </div>


  </div>
  <div class="flex-vert">

    {% assign feed = posts | where: "type", "observable" %}
    {% include feed.html feed=feed title="Interactive Notebooks" feedname="observable" %}
    
    {% assign feed = posts | where: "type", "notion" %}
    {% include feed.html feed=feed title="Living Docs" feedname="notion" %}

  </div>
  <div class="flex-vert">

    {% assign feed = posts | where: "type", "luckybox" %}
    {% include feed.html feed=feed title="Lucky Box" feedname="luckybox" %}
  </div>
</div>
