<div id="personal-statement">
  <div class="text-box">
    Hi! I'm Evan.
    <br>
    <br>
    I'm an engineer with an interest in complex systems at the intersection of hardware and software.
    <!-- I'm an engineer interested in complex systems at the intersection of hardware and software. -->
    <!-- I'm an engineer working on complex systems at the intersection of hardware and software. -->

    I also play classical violin, spin fire and juggle, and occasionally build things out of wood.
  </div>
  <div class="img-box">
    <img src="assets/img/about/me.jpg">
    <div class="caption"></div>
  </div>
</div>
