{% assign num_str = include.post.key_photo | prepend: '00' | slice: -2, 2 %}

{% assign pathsplit = include.post.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign series_name = namesplit[0] %}

{% assign l = include.post.link | default: "" %}
{% if l == "" %}
  {% assign l = include.post.url %}
{% endif %}

{% assign covers = site.covers | where: "slug", include.post.slug %}
{% assign cover = covers[0] %}











    <div class="carousel-item {{ include.type }}">
      
      <div class="post-preview-wrapper">
      <a class="post-preview" href="{{ l }}">
      {% if cover %}
        {{ cover.content }}
      {% else %}
        <div class="carousel-label">
          {{ include.post.title }}
        </div>
        <img {% if cover %}style="display: none;"{% endif %} src="/assets/img/posts/{{ series_name }}/{{ num_str }}.webp">
      {% endif %}
      </a>
      </div>
    </div>