
{% assign id = include.id | default: "gallery-generic" %}
{% assign class = include.class | default: "" %}
{% assign captions = include.captions | default: [] %}

{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}

{% assign n_photos = include.n_photos | default: page.n_photos %}

{% assign series_name = include.series_name | default: namesplit[0] %}

{% assign auto_advance = include.auto_advance | default: false %}

<script type="text/javascript">
  if (!window.carousels) {
    window.carousels = {}
  }
  window.carousels["{{ id }}"] = {
    idx: 0,
    len: {{ n_photos }},
    auto_advance: {{ auto_advance }}
  }
</script>

<div class="carousel-wrapper {{ class }}">
  <div class="carousel" id="{{ id }}">
  {% for i in ( 1.. n_photos ) %}
    <div class="carousel-item">
      {% assign num_str = i | prepend: '00' | slice: -2, 2 %}
      <div class="post-preview-wrapper">
        <img src="/assets/img/posts/{{ series_name }}/{{ num_str }}.webp">
        {% if captions %}
          <div class="carousel-item-label">
            {% assign j = i | minus: 1 %}
            {{ captions[j] }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="button-wrapper left" dir="-1">
    <div class="button left" dir="-1"></div>
  </div>
  <div class="button-wrapper right" dir="-1">
    <div class="button right" dir="1"></div>
  </div>
</div>