
<!-- sets a bunch of variables -->
{% assign num_str = include.item.key_photo | prepend: '00' | slice: -2, 2 %}

{% assign pathsplit = include.item.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign series_name = namesplit[0] %}

{% assign item_date = include.item.date | date: "%m.%y" %}

{% assign l = include.item.link | default: "" %}
{% if l == "" %}
  {% assign l = include.item.url %}
{% endif %}

{% assign covers = site.covers | where: "slug", include.item.slug %}
{% assign cover = covers[0] %}

<a class="collection-post-preview-vert" slug="{{ include.item.slug }}" href="{{ l }}">
  <img src="/assets/img/posts/{{ series_name }}/{{ num_str }}.webp">

    {% assign meta = site.data[series_name][num_str] %}
    {% assign lens_text = meta.lens | regex_replace: '^.*?(\d)', '\1' }} %}
    <div class="metadata-strip">
      <div class="series-title">
        <span class="title">{{ include.item.title }}</span>
      </div>

      <div class="metadata">
        <span class="series-date">{{ item_date }}</span>
        <span class="lens">{{ lens_text }}</span>
        <span class="camera">{{ meta.camera }}</span>
        <span class="stock">{{ meta.stock }}</span>
        <!-- <span class="photo-location">{{ meta.location.city }}, {{ meta.location.country }}</span> -->
      </div>
    </div>
</a>