
{% assign id = include.id | default: "gallery-generic" %}

<script type="text/javascript">
  if (!window.carousels) {
    window.carousels = {}
  }
  window.carousels["{{ id }}"] = {
    idx: 1,
    len: {{ include.collection | size }}
  }
</script>

<div class="carousel-wrapper">
  <div class="carousel" id="{{ id }}">
  {% for post in include.collection %}
    {% include {{ include.preview }}.html post=post %}
  {% endfor %}
  </div>
  <div class="button left" dir="-1">left</div>
  <div class="button right" dir="1">right</div>
</div>