
{% assign id = include.id | default: "fjgallery" %}
{% assign row_height = include.row_height | default: 300 %}
{% assign row_tol = include.row_tol | default: 0.3 %}

<script type="text/javascript">
  if (!window.galleries) {
    window.galleries = {}
  }
  window.galleries["{{ id }}"] = {
    row_height: {{ row_height }},
    row_tol: {{ row_tol }}
  }
</script>

{% assign pathsplit = include.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}

<div class="fj-gallery" id="{{ id }}" series="{{ page_name }}" n_photos="{{include.n_photos}}">
  <div class="gallery-modal-bg"></div>

{% assign n_start = include.n_start | default: 1 %}
{% assign n_end   = n_start | plus: include.n_photos | minus: 1 %}

{% for i in ( n_start.. n_end ) %}

  {% assign num_str = i | prepend: '00' | slice: -2, 2 %}
  {% capture img_src %}{{ page.collection }}/{{ page_name }}/{{ num_str }}.webp{% endcapture %}

  {% include photo.html src=img_src folder=page_name num_str=num_str %}
{% endfor %}
</div>