
<div class="music-show">
    {% assign s=include.show %}
    {% if include.happened %}
      <div class="date">{{ s.date | date: "%B %-d" }}</div>
    {% else %}
      <div class="date">{{ s.date | date: "%A, %B %-d at %-I:%M %p" }}</div>
    {% endif %}
    <div class="title">{{ s.title }}</div>
    <div class="details">
      <div class="venue">{{ s.venue }}</div>
    {% if include.happened %}
        <div class="link"><a href="{{ s.url }}">Recordings</a></div>
    {% else %}
      <div class="address">{{ s.address }}</div>
      <div class="link">Free{% if s.link != "" %}: <a href="{{ s.link }}" target="blank">RSVP</a>{% endif %}</div>
    {% endif %}
    </div>
</div>