<div id="navbar"
  >
  {% unless include.hide_backarrow %}
    <i class="back-arrow-icon"></i>
    <a class="back-arrow" href="..">
    </a>
  {% endunless %}

  {% assign namesplit = page.name | split: '.' %}
  {% assign pagename = namesplit[0] %}

  <div id="navbar-content">
  {% for spage in site.pages %}
    {% if spage.navbar %}
      {% assign namesplit = spage.name | split: '.' %}
      {% assign name = namesplit[0] %}
      <div class="nav-item {% if name == pagename %}active{% endif %}">
        <a href="/{{ name }}">{{ spage.title }}</a>
      </div>
    {% endif %}
  {% endfor %}

  </div>
</div>