<div id="navbar">

  {% assign namesplit = page.name | split: '.' %}
  {% assign pagename = namesplit[0] %}

  <div id="navbar-content">
  {% assign pages_sorted = site.pages | sort: "navbar-order" %}
  {% for spage in pages_sorted %}
    {% if spage.navbar %}
      {% assign namesplit = spage.name | split: '.' %}
      {% assign name = namesplit[0] %}
      <div class="nav-item {% if name == pagename %}active{% endif %}">
        <a href="/{{ name }}">
          <div class="nav-item-text">
            {{ spage.title }}
          </div>
          <div class="nav-item-bg">
            {{ spage.title }}
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}

  </div>
  {% if page.show-banner %}
    {% include print-banner.html %}
  {% endif %}
</div>