<!-- {% assign p = include.photo %} -->

<div class="photo-modal-bg" name="{{ include.src }}" series="{{include.folder}}" index="{{include.num_str | plus: 0 }}" indexmax="{{include.series.n_photos}}">
  <div class="photo-modal">
    <img class="fullsize" src="/assets/img/{{ include.src }}"/>
    {% assign meta = site.data[include.folder][include.num_str] %}
    <div class="photo-details">
      <!-- <div class="photo-caption">{{ meta.caption }}</div> -->
      <!-- <div class="photo-title">{{ meta.title }}</div> -->
      <div class="photo-location">{{ meta.location.city }} {{ meta.location.country }}</div>
      <!-- <div class="camera">{{ meta.camera }}</div> -->
      <!-- <div class="lens">{{ meta.lens }}</div> -->
      <!-- <div class="stock">{{ meta.stock }}</div> -->
    </div>
  </div>
</div>
<div class="fj-gallery-item">
  <img src="/assets/img/{{ include.src }}" name="{{ include.src }}"/>
</div>
