{% assign p = include.photo %}

<div class="gallery-piece {{include.psize}}">
  <img src="/assets/img/{{ p.path }}"/>
  <div class="photo-modal-bg">
    <div class="photo-modal">
      <img class="fullsize" src="/assets/img/{{ p.path }}"/>
      <div class="photo-details">
        <div class="photo-caption">{{ p.caption }}</div>
        <div class="camera">{{ p.camera }}</div>
        <div class="lens">{{ p.lens }}</div>
        <div class="stock">{{ p.stock }}</div>
      </div>
    </div>
  </div>
</div>
