
{% assign title = include.post.title %}

{% assign l = include.url | default: "" %}
{% if include.post.layout == "show" %}
  {% assign l = include.post.url %}
{% endif %}

<a class="post home-preview" href="{{ l }}">
  {% if include.post.layout == "show" %}

      {% assign s = include.post %}

      {% assign rec = s.recordings[0] %}
      {% include youtube.html src=rec %}

  {% else %}
    <img src={{ include.img }} >
  {% endif %}
  <div class="date">
    {{ include.date | gallerydate: "%b %-d" }}{% if include.showtitle %} – {{ title }} {% endif %}
  </div>
</a>
