{% assign num_str = include.post.key_photo | prepend: '00' | slice: -2, 2 %}

{% assign pathsplit = include.post.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign series_name = namesplit[0] %}

{% assign l = include.post.link | default: "" %}
{% if l == "" %}
  {% assign l = include.post.url %}
{% endif %}

<div class="fj-gallery-item {{ include.type }} generic">
  <a class="post-preview" href="{{ l }}">
    <img src="/assets/img/{{ post.collection }}/{{ series_name }}/{{ num_str }}.webp"/>
    <div class="label">
      {{ include.post.title }}
    </div>
  </a>
</div>