<div class="scroller-sidebar">
  <div class="sidebar-inner-scroll">

  <div class="pj-list-header">Published</div>
    <ul class="pj-list">
{% for item in posts_published %}
  {% unless item.role %}
    {% assign item_date = item.date | date: "%m.%y" %}
      <a><li class="pj-list-item" slug="{{ item.slug }}">{{ item.title }}</li></a>
  {% endunless %}
{% endfor %}
    </ul>

  <div class="pj-list-header">Collections</div>

  <ul class="pj-list">
{% for item in posts_selected %}
  {% assign item_date = item.date | date: "%m.%y" %}
    <a><li class="pj-list-item" slug="{{ item.slug }}">{{ item.title }}</li></a>
{% endfor %}
  </ul>

  <li class="pj-list-header">Timeline</li>
    <ul class="pj-list">
{% for item in posts_photojournal %}
  {% unless item.role %}
    {% assign item_date = item.date | date: "%m-%y" %}
      <a><li class="pj-list-item" slug="{{ item.slug }}">{{ item_date }}&nbsp;&nbsp;{{ item.title }}</li></a>
  {% endunless %}
{% endfor %}

    </ul>
  </div>
</div>