{% assign num_str = include.post.key_photo | prepend: '00' | slice: -2, 2 %}

{% assign pathsplit = include.post.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign series_name = namesplit[0] %}


<div class="selected-preview">
  <a class="selected-preview" href="{{ include.post.url }}">
    <img src="/assets/img/posts/{{ series_name }}/{{ num_str }}.webp"/>
    <div class="title">
      {{ include.post.title }}
    </div>
  </a>
</div>