
{% assign id = include.id | default: "gallery-generic" %}
{% assign row_height = include.row_height | default: 300 %}
{% assign row_tol = include.row_tol | default: 0.3 %}
{% assign gutter = include.gutter | default: 20 %}

<script type="text/javascript">
  if (!window.galleries) {
    window.galleries = {}
  }
  window.galleries["{{ id }}"] = {
    row_height: {{ row_height }},
    row_tol: {{ row_tol }},
    gutter: {{ gutter }}
  }
</script>

<div class="fj-gallery" id="{{ id }}">

{% for post in include.collection %}
  {% include post-pre-generic.html post=post %}
{% endfor %}
</div>