
{% assign collection = include.collection | default: 'film' %}

{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}

{% assign name_num = photo_index | prepend: '00' | slice: -2, 2 %}

{% assign name = include.name | default: name_num %}
{% assign container = include.container | default: "photo-list" %}

<div class="{{ container }}" id="{{name}}">
  <img src="/assets/img/posts/{{ page_name }}/{{ name }}.webp">
</div>
{% assign photo_index = photo_index | plus: 1 %}