{% assign num_str = include.post.key_photo | prepend: '00' | slice: -2, 2 %}

{% assign pathsplit = include.post.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign series_name = namesplit[0] %}

{% assign l = include.post.link | default: "" %}
{% if l == "" %}
  {% assign l = include.post.url %}
{% endif %}

{% capture img_url %}"/assets/img/posts/{{ series_name }}/{{ num_str }}.webp"{% endcapture %}
{% include post-home-preview.html showtitle=include.showtitle  post=include.post img=img_url url=l date=post.date %}