
:root {
  // light theme
  --bg-color: #fff;
  --bg-color-rgb: 255, 255, 255;
  --text-color: #000;
  --text-color-rgb: 0, 0, 0;

  --feed-border-radius: 10px;

  // dark theme
  // --bg-color: #000;
  // --bg-color-rgb: 0, 0, 0;
  // --text-color: #fff;
  // --text-color-rgb: 255, 255, 255;

  // old theme
  // --bg-color: #0d2857;
  // --text-color: #f2eedd;
}
