---
---

@import 'font/arvo';

:root {
  --bg-color: #f2eedd;
  --text-color: #0d2857;
  // --bg-color: #0d2857;
  // --text-color: #f2eedd;
}

body {
  font-family: Arvo;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 1.5;
}

.wrapper {
  max-width: 50rem;
  // on my mac, 1rem == 16px
  margin: 0 auto;
}

.key-phrase {
  background-color: #fffa;
}

em.key-line {
  font-style: inherit;

  transition: background-color 0.5s;

  &.selected {
    background-color: #ffff;
  }
}

.drop-cap {
  font-size: 1.3rem;
  font-style: inherit;
}

.feature {
  font-size: 1rem;
  padding-left: 1rem;

  transition: height 0.5s;

  display: none;
  overflow: hidden;

  div.img-box {
    float: right;
    width: 15rem;
    padding: 1rem;

    img {
      width: 100%;
    }
    .caption {
      text-align: center;
    }
  }

  &.selected {
    display: block;
  }

  a {
    color: inherit;
  }
}

.key-phrase {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}