---
---

@import 'font/arvo';

:root {
  --bg-color: #f2eedd;
  --text-color: #0d2857;
  // --bg-color: #0d2857;
  // --text-color: #f2eedd;
}

html {
  font-family: Arvo;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.5;
}

.key-phrase {
  background-color: #fff2;
}

.feature {
  display: none;

  &.selected {
    display: block;
  }
}

.key-phrase {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}