---
---

:root {
  --feed-border-radius: 10px;
  --input-border-radius: 6px;

  // colors
  --dark-color: #0f1419;
  --dark-color-rgb: 15, 20, 25;

  --light-color: #F7F1EC;
  --light-color-rgb: 253, 236, 224;

  --light-color: #ffffff;
  --light-color-rgb: 255, 255, 255;

  --light-mid-color: #B6B1AC;
  --light-mid-color-rgb: 182, 177, 172;

  // dark theme
  // --bg-color: var(--dark-color);
  // --bg-color-rgb: var(--dark-color-rgb);
  // --text-color: var(--light-mid-color);
  // --text-color-rgb: var(--light-mid-color-rgb);

  // light theme
  // @media (prefers-color-scheme: light) {
    --text-color: var(--dark-color);
    --text-color-rgb: var(--dark-color-rgb);
    --bg-color: var(--light-color);
    --bg-color-rgb: var(--light-color-rgb);
  // }
}

// scroll lock stuff

.scroller-sidebar {
  flex: 0 0 auto;
  width: 15rem;

  @media (pointer: coarse) and (hover: none) {
    display: none;
    // position: sticky;
    // top: 0px;

    // height: 5rem;
    // width: 100%;

    // overflow: hidden;
    // background-color: var(--bg-color);
    // padding-left: 1rem;

    // z-index: 1000;
  }
}

.sidebar-inner-scroll {
  overflow-y: scroll;
  height: 100vh;

  position: sticky;
  top: 0px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-outer-container {
  display: flex;

  @media (pointer: coarse) and (hover: none) {
    flex-direction: column;
  }
}

.scroll-inner-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  max-width: 30rem;

  flex: 1 1 auto;
  margin: 0 auto;

  @media (pointer: coarse) and (hover: none) {
    max-width: 98vw;
  }
}


//
// cross page styles
//
.photo-banner {
  width: 10px;
}

body {
  font-family: Inter, sans-serif;
  font-weight: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  max-width: 50rem;

  &.wide {
    max-width: 100rem;
  }

  // on my mac, 1rem == 16px
  margin: 0 auto;
  margin-bottom: 2rem;

  padding: 0 20px;

  @media (pointer: coarse) and (hover: none) {
    padding: 0;
  }
  p {
    margin-bottom: 0;
  }
}

#about-container {
  display: flex;
  flex-wrap: wrap;
}

#about-left {
  // because markdown adds p elements
  p {
    margin: 0;
    padding: 0;
  }

  flex: 1 0 20rem;
  img {
    width: 100%;
    display: block;
    // border-radius: 50%;
  }
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 0.8rem;

  .caption {
    text-align: right;
    font-size: 0.75rem;
    width: 100%;
  }
}

#about-right {
  flex: 1 0 20rem;
  p:first-child {
    margin-top: 1rem;
  }
}

// 
// index.md sections
// 

// index.md workshop gallery

.fj-gallery-item {
  transition: opacity 600ms;
  overflow: hidden;
  position: relative;
}

.gallery-label {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;

  transition: opacity 600ms;

  color: white;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 800ms;

  .gallery-label-text {
    font-size: Max(2rem,4vw);
    font-family: Futura;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    text-align: center;
  }

  &:hover {
    opacity: 1;
  }
}

#index-indent {
  padding-left: 2rem;
}

//
// feed
//

.grid {
  padding: 0 20px 0 20px;
}

.grid-item {
  // margin: 0 0 10px 0;
  width: 300px;
  overflow: visible;
  img {
    max-width: 100%;
  }
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-evenly;
  justify-content: start;

  padding: 1rem;
  gap: 1rem;
}

.feed {
  flex: 0 0 auto;

  max-width: 100%;
  padding: 0.5rem;

  height: fit-content;

  // box-shadow: 3px 3px 10px rgba(0,0,0,0.2);

  flex-direction: column;
  .feed-title {
    font-family: Inter, san-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding: 0 0 0.5rem 0;

    line-height: 1.3;
    position: relative;
    display: flex;
  }

  .post {
    line-height: 1.3;
    position: relative;
    padding: 0 0 0.4rem 0.6rem;

    display: flex;
    
    transition: opacity 200ms linear;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
      // background-color: rgba(0,0,0,0.05);
    }

    .inner {
      flex: 0 0 auto;

      &.left {
        flex: 1 1 auto;
        padding-right: 1rem;
      }
    }

    img.preview-image {
      height: 4.5rem;
      display: none;
    }
    .title {
      font-weight: 400;
      font-size: 1rem;
    }
    .description {
      display: none;
      font-weight: 200;
      opacity: 0.4;
    }
    .date {
      font-family: Inter, san-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 0.9rem;
      opacity: 0.4;
    }
  }
}

#feed-printable {
  .inner.left {
    white-space: nowrap;
    height: 2rem;
    // flex: 0 0 200px;
    width: 60%;
  }
  .title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .inner.right {
    width: 40%;
    img {
      object-fit: contain;
    }
  }
}

#feed-instagram {
  .post {
    .inner.left {
      display: none;
    }
    .inner.right {
      display: block;
    }
    .title {
      display: none;
    }
    .description {
      display: block;
    }
    img {
      display: block;
    }
  }
}

#feed-printable {
  img {
    display: block;
  }
}

#feed-luckybox, #feed-notion {
  img {
    display: none;
  }
}

// 
// index.md elements
// 

.key-phrase {
  color: inherit;
  font-weight: 600;

  background-color: rgba(var(--text-color-rgb), 0.1);

  transition: background-color 0.5s, color 0.5s;

  &:hover, &.selected:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
  }
  &.selected {
    background-color: rgba(var(--text-color-rgb), 0.7);
    color: var(--bg-color);
  }
  &.hint {
    color: var(--bg-color);
    background-color: var(--text-color);
  }
}

em.key-line {
  font-style: inherit;

  transition: background-color 0.5s, color 0.5s;
}

.feature {
  height: 0px;
  transition: all 0.5s;
  transition-property: height, margin-top;

  overflow: hidden;

  margin-top: 0;

  p {
    margin-bottom: 1rem;
  }

  font-size: 1rem;

  .img-box {
    float: right;
    width: 10rem;
    padding: 1rem;
  }

  &.selected {
    display: block;
  }
}

h2#gallery {
  padding-top: 1rem;
  font-weight: 400;
}

.gallery-card {
  &.gallery {
    a {
      font-size: 6vw;
      width: 80vw;
      margin: 2rem auto;

      img {
        max-height: 80vh;
      }
    }
  }

  a {
    font-size: 4vw;
    width: 75vw;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
    .title {
      flex: 0 0 20vw;
      text-align: right;
    }
    img {
      flex: 1 0 auto;
      max-width: 70%;
      max-height: 30vh;
      object-fit: contain;
    }
  }
}

//
// film category elements
//

.project-photo {
  display: inline-block;

  float: right;

  img {
    flex: 0 1 100%;
    max-width: 50vw;
    // object-fit: contain;

    // padding: 3vh 0;
  }
}

.article-container {
  // https://stackoverflow.com/questions/9537838/div-height-100-and-expands-to-fit-content
  // font-family: Lora;
  display: block;
  overflow: auto;

  width: 90%;
  padding: 0 5%;
  h2 {
    text-align: center;
  }
  .article-title {
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  h4 {
    margin: 0;
    padding: 10px 0;
  }
  a {
    font-weight: 600;
  }
  p {
    max-width: Min(100%, 40rem);
  }
}

.article-sidebar {
  width: 20%;
  height: 100vh;

  flex: 0 1 15%;
}

#post-gallery {
  flex: 0 0 100%;
}

hr {
  border: none;
  border-top: 1.5px solid var(--text-color);
  opacity: 0.6;
  border-radius: 1px;
  margin: 0 25%;
}

.photo-list {
  user-select: none;
  -webkit-user-select: none;

  display: flex;
  flex-wrap: wrap;

  div {
    text-align: center;
  }
  img {
    flex: 0 1 100%;
    max-height: 88vh;
    max-width: 90vw;
    object-fit: contain;

    padding: 3vh 0;
  }

  &.fill-space {
    height: 100vh;
  }
}

.photo-array {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 90vw;

  .photo-container {
    text-align: center;
    flex: 1 0 400px;
    max-width: calc(100% - 2rem);
    height: 100%;
    padding: 0 1rem;

    img {
      padding: 3vh 0;
      width: 100%;
      height: 100%;
      max-height: 88vh;
      object-fit: contain;
      margin: auto 0;
    }
  }
}

.post-date {
  font-weight: 200;
  font-family: Inter, san-serif;
  opacity: 50%;
}

// footer

.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.post-footer-item {
  flex: 0 0 auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}

footer {
  text-align: center;
  padding: 1rem 0 2rem 0;
  font-size: 0.9rem;
  opacity: 0.5;
}

// print store banner
.print-store-banner {
  background-color: var(--text-color);
  color: var(--bg-color);

  text-align: center;
  padding: 1rem;

  em {
    font-size: 150%;
    font-style: inherit;
  }
}

// gallery item

.pj-header {
  margin-bottom: 0;
}

.fj-gallery-separator {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .sep-date {
    flex: 0 1 auto;
    font-weight: 800;
    padding-right: 0.5rem;
  }
  .sep-loc {
    flex: 0 1 auto;
    // font-weight: 600;
    font-size: 136%;
  }
}

.text-mask {
  font-family: Anton;
  white-space: nowrap;

  font-weight: 800;
  // font-size: Min(18vh, 18vw);
  font-size: Min(13vw, 17vh);

  color: rgba(0,0,0,0);

  position: relative;

  // .text-mask-mask {
  //   position: absolute;
  //   left: 99.6%;
  //   right: 0;
  //   background-color: var(--bg-color);
  //   // background-color: red;
  //   width: 5px;
  //   height: 100%;
  // }
}

// scroller
.scroller {
  // width and height should be defined for each instance
  height: 40rem;
  width: auto;

  position: relative;
  .scroller-item {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    // transition management
    visibility: hidden;
    opacity: 0;
    width: 100%;

    &.activating {
      // width: 100%;
      // max-width: 100%;
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      // width: 100%;
      // max-width: 100%;
      opacity: 1;
      visibility: visible;
    }

    &.hiding {
      opacity: 0;
    }

    transition: visibility 500ms, opacity 500ms linear;
    &.transition-all {
      transition: visibility 500ms, opacity 500ms linear, max-width 500ms ease-in-out, width 500ms ease-in-out;
    }
  }
}

.scroller#jumbotron {
  height: 90vh;
  width: auto;
}

.scroller#project {
  flex: 0 1 50rem;
  height: 70rem;
}

.scroller-vert {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 30rem;

  flex: 1 1 auto;
  margin: 0 auto;
}

.sidebar-container.photo-page {
  // background-color: green;
  position: relative;

  width: 100%;
  overflow: hidden;

  display: flex;
  height: inherit;

  user-select: inherit;
  -webkit-user-select: inherit;
  // background-color: blue;
}

.test-content {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    object-fit: cover;
  }

  display: flex;
  flex: 0 1 auto;

  // background-color: blue;
}

.pj-list-header {
  font-size: 0.8rem;
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
}

.pj-list {
  margin: 0;
  padding-left: 0.8rem;
  .pj-list-item {
    list-style: none;
    font-size: 0.8rem;
    padding-bottom: 1rem;

    transition: font-weight 0.2s;
    &.active {
      font-weight: 800;
    }
    &:hover {
      font-weight: 800;
    }
  }
  padding-bottom: 0.6rem;
}

.scroller-item-inner {
  &:hover {
    text-decoration: none;
  }

  flex: 0 1 auto;
  position: relative;
  img {
    display: block;
    object-fit: contain;

    max-width: 100%;
    max-height: 100%;
  }
}

.collection-post-preview {
  max-width: 90vw;
  max-height: 80vh;

  img {
    max-height: 80vh;
  }

  display: flex;
  flex: 0 1 auto;
}

.collection-post-preview-vert {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    object-fit: cover;
  }

  @media (pointer: coarse) and (hover: none) {
    max-width: 90%;
  }

  display: flex;
  flex: 0 1 auto;

  .metadata-strip {
    position: absolute;
    right: -1.5rem;

    writing-mode: vertical-rl;
    text-align: right;
    padding-left:   0.4rem;
    padding-bottom: 0.5rem;
    padding-top:    0.5rem;

    height: calc(100% - 1rem);

    font-size: 0.6rem;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    .series-title {
      // title grows
      flex: 1 0 auto;
      text-align: left;
      .title {
        font-weight: bold;
        // vertical-align: top;

        font-size: 0.8rem;
      }
    }
    .metadata {
      display: inline;
      // metadata shrinks
      flex: 0 1 auto;
      // vertical-align: bottom;
      transform: translateX(-0.1rem);
      span {
        padding-top: 1.2rem;
      }
    }
  }
}

.post-post-preview {
  width: 90%;
}

.carousel-item-label {
  position: absolute;
  bottom: 0;

  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
  width: calc(100% - 1rem);
  color: white;
  padding: 0.2rem 0.5rem;
}

.scroller-label {
  position: absolute;
  bottom: 0;
  left: 1rem;

  font-size: Max(3rem, Min(6rem,7vw));
  font-family: Anton;
  color: white;
}

.button-wrapper {
  width: Min(4rem, 10vw);
  height: 100%;
  position: absolute;
  top: 0;

  &.left {
    background: linear-gradient(to right, rgba(var(--bg-color),0.1), rgba(var(--bg-color),0));
    left: 0;
  }
  &.right {
    background: linear-gradient(to left, rgba(var(--bg-color),0.1), rgba(var(--bg-color),0));
    right: 0;
  }

  .button {
    position: absolute;

    border: solid var(--text-color);
    transform: rotate(45deg) skew(8deg, 8deg);

    cursor: pointer;
    // half of the width/height
    top: calc(50% - Min(0.75rem, 1vw));

    width: Min(1.5rem, 2vw);
    height: Min(1.5rem, 2vw);

    &.left {
      border-width: 0 0 3px 3px;
      left: 6px;
    }
    &.right {
      border-width: 3px 3px 0 0;
      right: 6px;
    }
  }
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-text {
  flex: 1 0 20rem;
}

.post-preview {
  margin: 0 auto;
}

.flex-horiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  * {
    flex: 0 1 auto;
  }
}

.flex-vert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  * {
    flex: 0 1 auto;
  }
}

.post.home-preview {
  display: block;
  img {
    max-height: 100%;
  }
}

.post-preview-wrapper {
  max-width: 90vw;
  // width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.fj-gallery {
  // this is half of the "gutter" set in main.js
  // which enables consecutive galleries to flow together
  padding-bottom: 10px;
  position: relative;
}

.fj-gallery-item {
  cursor: pointer;
  transition: background-color 0.5s;

  position: relative;
  // width: 400px;
  margin-bottom: 10px;

  max-width: 350px;
  // 1 column
  max-width: 100%;
  // // 2 columns
  @media only screen and (min-width: 700px) {
    max-width: calc(50% - 10px);
  }
  // // 3 columns
  @media only screen and (min-width: 1200px) {
    max-width: calc(33.333% - 10px);
  }
  // 4 columns
  @media only screen and (min-width: 2000) {
    max-width: calc(25% - 10px);
  }

  // "standalone" is for items that are not
  // in a gallery
  &.standalone {
    max-width: 100%;
    margin: 1rem;
    img {
      // max-width: 40vw;
      max-height: 20rem;
      // object-fit: contain;
      // height: 100%;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }
  a:hover {
    text-decoration: inherit;
  }
  &:hover {
    text-decoration: inherit;
    .gradient-bg {
      opacity: 1;
    }
  }
  .gradient-bg {
    transition: opacity 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    opacity: 0.6;
    height: 2rem;
    width: 100%;
  }
  .caption {
    width: 100%;
    color: var(--light-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.5s;
    display: flex;
    font-family: Inter, san-serif;
    font-weight: 200;
  }
  .title { 
    transition: color 0.5s;
    padding-left: 4px;
    margin-right: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .date { 
    opacity: 60%;
    padding-right: 4px;
    transition: color 0.5s;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.selected-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
}

.selected-preview {
  display: flex;
  height: 6rem;
  align-items: center;
  padding: 1rem 1rem 1rem 0;

  img {
    flex: 0 1 auto;
    height: 100%;
  }
  .title {
    flex: 0 1 auto;
    padding: 0 0.5rem 0 1.5rem;
  }
}

.left-line-border {
  margin-left: 1.1rem;
  border-left: 1px solid var(--text-color);
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  margin-right: 1.1rem;
}

.left-line-border-min {
  margin-left: 0.55rem;
  border-left: 1px solid var(--text-color);
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  margin-right: 0.55rem;
}

.left-line-border-min-justpadding {
  margin-left: 0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  margin-right: 0.55rem;
}

.show-label {
  font-weight: 600;

  &.year {
  }
}

.stub-wrapper {
  display: flex;
  margin: 1.5rem;
  font-size: 200%;
  height: auto;
}

.music-banner {
  width: 100%;
}

.feed {
  .music-show {
    font-size: 85%;
  }
}

.music-show {
  &:not(.upcoming) {
    font-size: 90%;
  }
  .date {
    font-weight: 800;
  }
  .title {
    font-size: 136%;
  }
  a {
    transition: all 200ms linear;
    text-decoration: none;
    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);
    }
  }
  .details {
    padding-left: 1.1rem;
    .role {
      // font-size: 90%;
      // display: none;
    }
    .venue {
      font-size: 120%;
    }
    .link a {
      font-weight: 600;
    }
    .address {
      font-size: 90%;
    }
  }
  padding-bottom: 1.2rem;
}

.gallery-piece {
  cursor: pointer;
  flex: 0 1 auto;
  height: 22vw;
  // height: 20rem;

  &.no-reflow {
    flex: 1 0 20rem;
    margin: 0.2rem;
    height: auto;
  }

  img {
    // opacity: 50%;
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
  }

  .caption {
    display: block;
  }

  &.medium {
    // flex: 1 2 30rem;
  }

  &.small {
    // flex: 1 2 20rem;
  }

  a {
    text-decoration: inherit;
  }
}

//
// "modules"
//

.youtube-embed-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-embed {
  border-radius: 5px;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.gallery-modal-bg {
  cursor: auto;
  display: flex;

  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: visibility 200ms, opacity 200ms linear;

  background-color: var(--bg-color);

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 70;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.photo-modal-bg {
  cursor: auto;
  display: flex;

  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: visibility 200ms, opacity 200ms linear;

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 80;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.photo-modal {
  z-index: 90;
  border-radius: 5px;

  transition: visibility 200ms, opacity 200ms linear;

  max-width: 100vw;

  img.fullsize {
    display: block;
    max-width: 95vw;
    max-height: calc(100vh - 8rem);
    border-radius: 0;
  }
  .photo-details {
    color: var(--text-color);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0;
  }
}

.photo-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0.5rem;
  font-family: Inter, san-serif;
  font-size: 1rem;
  .photo-caption {
    flex: 0 1 auto;

    font-weight: 300;
  }
  .photo-title {
    flex: 0 1 auto;

    font-weight: 400;
  }
}

#navbar {
  // background-color: var(--text-color);
  color: var(--text-color);

  position: relative;

  &.small {
    font-size: 1rem;
  }
}

#navbar-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50rem;
  margin: 0 auto;

  .nav-item {
    flex: 0 1 auto;
    padding: 1rem 0;
    text-align: center;

    font-weight: 500;

    position: relative;

    transition: font-weight 0.2s;
    .nav-item-text {
      position: absolute;
    }
    .nav-item-bg {
      font-weight: bold;
      opacity: 0;
    }

    a {
      transition: font-weight 0.2s;
      &:hover, {
        font-weight: bold;
        text-decoration: none;
      }
    }
    &.active {
      font-weight: bold;
    }
  }
}

.back-arrow {
  position: absolute;
  top: 0; left: 0;

  height: 100%;
  width: 3rem;
}

.back-arrow-icon {
  position: absolute;

  border: solid var(--bg-color);
  border-width: 0 2px 2px 0;
  padding: 0.3rem;

  margin-left: 1rem;
  font-size: 1.5rem;

  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.img-box {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;

  img {
    width: 100%;
    border-radius: 5px;
  }
  .caption {
    text-align: center;
  }
}

.drop-cap {
  font-size: 1.3rem;
  font-style: inherit;
}

.left-border-indent {
  padding-left: 2rem;
  border-left: 2px solid var(--text-color);
}

// experimental image browser

.sidebar-container {
  // background-color: green;
  position: relative;

  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
}

// layout – more styling below
.sidebar {
  // background-color: red;

  // padding: 0.5rem;
  // padding-top: 1rem;
  // padding-left: 1rem;
  // padding-b: 1rem;
  padding: 1rem 0.5rem 1rem 1rem;

  flex: 0 0 10rem;

  display: flex;

  flex-direction: column;
  justify-content: space-between;

  .last-photo {
    // background-color: orange;
  }

  .subtitle {
    flex: 0 1 auto;
  }
}

#japan-map {
  // background-color: orange;
}

.main-photo {
  // background-color: blue;

  align-self: center;
  flex: 1 1 auto;
}

.summary {
  flex: 1 1 auto;
}

#japan-map {
  width: 100%;
  svg {
    shape-rendering: auto;
    display: block;
  }

  g {
    stroke-width: 1px;
  }

  path {
    fill: none;
  }

  path.region {
    stroke: rgba(0,0,0,0.25);
  }

  path.activeKen {
    stroke: black !important;
    fill: black !important;
  }

  path.activeRegion {
    stroke: black !important;
    fill: black !important;
    // stroke: #aaa;
    // fill: #aaa;
  }

  .country {
    stroke: rgba(0,0,0,0.25);
  }
}

.main-photo {
  user-select: none;
  -webkit-user-select: none;

  #featured-image {
    padding: 1rem;
    margin: 0 auto;

    max-width: calc(100% - 1rem - 1rem);
    max-height: calc(100vh - 1rem - 1rem);

    display: block;
    text-align: center;
  }
}

.sidebar {
  .last-photo {
    &.inactive {
      opacity: 0;
    }
    // flex: 0 1 auto;
    img {
      opacity: 70%;
      width: 100%;
      height: 10rem;

      display: block;
      object-fit: contain;
    }

    div {
      text-align: right;
      padding-top: 1rem;
    }
  }

  .subtitle {
    .neighborhood {
      height: 1.65rem; // 1.1 * 1.5
    }
    .city {
      font-size: 2rem;
    }
    .region-container {
      margin-top: 2rem;
    }

    .label {
      opacity: 50%;
    }
  }
}

// email input

form#email {
  width: auto;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    input,button {
      // border-color: rgba(var(--text-color-rgb), 0.2);
      border-color: var(--text-color);
    }
  }

  input,button {
    // border: 2px solid var(--text-color);
    border: 2px solid rgba(var(--text-color-rgb), 0.2);

    padding: 0.6rem;
    font-size: 1rem;

    outline: none;

    transition: all 300ms;
  }

  input#email {
    margin-top: 0.4rem;
    border-right: none;
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);

    &:focus {
      // border-color: rgba(var(--text-color-rgb), 0.2);
      border-color: var(--text-color);

      // sibling selector
      // https://stackoverflow.com/questions/11570636/css-focus-unable-to-affect-other-elements
      ~ button {
        // border-color: rgba(var(--text-color-rgb), 0.2);
        border-color: var(--text-color);
      }
    }
  }

  button#email-submit {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-left: none;
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
    background-color: var(--bg-color);

    &:hover {
      cursor: pointer;
      color: rgba(var(--text-color-rgb), 0.5);
    }
  }
}

.disclaimer {
  font-size: 0.8rem;

  span {
    opacity: 0;

    transition: opacity 300ms;
    
    &.active {
      // display: block;
      opacity: 1;
    }
  }

  .disclaimer-toggle {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

// spotify theme

// #apple-spg.kp {
//   color: #D8A88E;
//   background-color: #473653;
// }

// #perceptive.kp {
//   color: #A1E4BE;
//   background-color: #3500D5;
// }

// #olin.kp {
//   color: #C93029;
//   background-color: #F1CCCE;
// }

// #olin-js.kp {
//   color: #483554;
//   background-color: #D1EB7F;
// }

// #ninja.kp {
//   color: #202973;
//   background-color: #A4E5B6;
//  }

//
//
//