// Regular
@font-face {
  font-family: Arvo;
  font-weight: 400;
  src: url("../font/arvo/Arvo-Regular.ttf");
}

// Bold 
@font-face {
  font-family: Arvo;
  font-weight: 700;
  src: url("../font/arvo/Arvo-Bold.ttf");
}
