// Regular
@font-face {
  font-family: Public Sans;
  font-weight: 400;
  src: url("../font/public-sans/PublicSans-VariableFont_wght.ttf");
}

// Bold 
@font-face {
  font-family: Public Sans;
  font-weight: 700;
  src: url("../font/public-sans/PublicSans-VariableFont_wght.ttf");
}
