---
layout: default
no_wrapper: true
---

{% assign page_title = page.subtitle %}
{% unless page_title %}
  {% assign page_title = page.title %}
{% endunless %}

{% include meta-thumbnail.html %}

<!-- variables -->
{% assign collection = include.collection | default: 'film' %}

{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}

{% assign name_num = photo_index | prepend: '00' | slice: -2, 2 %}

{% assign name = include.name | default: name_num %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<!-- dict from filenames to detects -->
{% assign photo_metadata = site.data[page_name]['metadata'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_metadata | json }}'.replace(/=>/g, ':')
  window.photo_metadata = JSON.parse(meta_json)
</script>

<!-- dict from detect classes to filenames -->
{% assign photo_metadata_byobj = site.data[page_name]['metadata_by_obj'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_metadata_byobj | json }}'.replace(/=>/g, ':')
  window.photo_metadata_byobj = JSON.parse(meta_json)
</script>

<!-- dict from detect classes to filenames -->
{% assign photo_info = site.data[page_name]['photo_info'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_info | json }}'.replace(/=>/g, ':')
  window.photo_info = JSON.parse(meta_json)
</script>

<!-- pull in the japan topojson -->
{% assign japan_topo = site.data[page_name]['japantopo'] %}
<script type="text/javascript">
  var japan = '{{ japan_topo | json }}'.replace(/=>/g, ':')
  window.japan = JSON.parse(japan)
</script>

<!-- tell javascript the name of the page -->
<script type="text/javascript">
  window.pageName = "{{ page_name }}"
</script>

<!-- actual page start -->
<!-- TODO: don't rely on CDNs -->
<script src="https://unpkg.com/topojson@3"></script>
<script src="https://unpkg.com/topojson-simplify@3"></script>
<script type="text/javascript" src="/js/imageBrowser.js"></script>

<div class="photo-template" style="display: none;">
  {% include photo.html src="SRC" folder="FOLDER" num_str="NUMBER" %}
</div>

{% assign id = include.id | default: "fjgallery" %}
{% assign row_height = include.row_height | default: 300 %}
{% assign row_tol = include.row_tol | default: 0.3 %}
{% assign gutter = include.gutter | default: 10 %}

<script type="text/javascript">
  if (!window.galleries) {
    window.galleries = {}
  }
  window.galleries["{{ id }}"] = {
    row_height: {{ row_height }},
    row_tol: {{ row_tol }},
    gutter: {{ gutter }}
  }
</script>

<div class="metagallery">
  <div class="sidebar">
    <div class="last-photo inactive">
      <div class="reason"></div>
      <img src="/assets/img/posts/{{ page_name }}/{{ photo_metadata[0][0] }}.webp">
    </div>

    <div class="subtitle">
      <div class="city"></div>
      <div class="neighborhood"></div>
      <div class="region-container"><span class="label">R</span> <span class="region"></span></div>
      <div><span class="label">P</span> <span class="prefecture"></span></div>
      <div id="japan-map"></div>
    </div>
  </div>
  <div class="main-photo">
    <img id="featured-image" src="/assets/img/posts/{{ page_name }}/{{ photo_metadata[0][0] }}.webp">
  </div>
  <div class="summary">
    <div class="location">
    </div>
    <div class="objects">
    </div>
    <!-- { % include gallery.html %} -->
    <div class="fj-gallery" id="{{ id }}">
    </div>
  </div>
</div>
