---
layout: default
no_wrapper: true
---

{% assign page_title = page.subtitle %}
{% unless page_title %}
  {% assign page_title = page.title %}
{% endunless %}

{% include meta-thumbnail.html %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<!-- dict from filenames to detects -->
{% assign photo_metadata = site.data[page_name]['metadata'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_metadata | json }}'.replace(/=>/g, ':')
  window.photo_metadata = JSON.parse(meta_json)
</script>

<!-- dict from detect classes to filenames -->
{% assign photo_metadata_byobj = site.data[page_name]['metadata_by_obj'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_metadata_byobj | json }}'.replace(/=>/g, ':')
  window.photo_metadata_byobj = JSON.parse(meta_json)
</script>

<!-- dict from detect classes to filenames -->
{% assign photo_info = site.data[page_name]['photo_info'] %}
<script type="text/javascript">
  var meta_json = '{{ photo_info | json }}'.replace(/=>/g, ':')
  window.photo_info = JSON.parse(meta_json)
</script>

<!-- variables -->
{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}
{% assign collection = include.collection | default: 'film' %}

{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}

{% assign name_num = photo_index | prepend: '00' | slice: -2, 2 %}

{% assign name = include.name | default: name_num %}

<!-- actual page start -->
<script type="text/javascript" src="/js/imageBrowser.js"></script>

<div class="metagallery">
  <div class="photo-subtitle">
    Location
  </div>
  <div class="main-photo">
    <img src="/assets/img/posts/{{ page_name }}/{{ photo_metadata[0][0] }}.webp">
  </div>
</div>
