---
layout: page
no_wrapper: true
---

{% include meta-thumbnail.html %}

{% assign pathsplit = page.path | split: '/' %}
{% assign name_ext = pathsplit[-1] %}
{% assign namesplit = name_ext | split: '.' %}
{% assign page_name = namesplit[0] %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<div class="article-container">
  {% unless page.hide_metadata %}
  <h3>{{ page.title }}</h3>
  <span class="post-date">{{ page.date | date: "%B %Y" }}</span>
  {% endunless %}

  <div class="project-wrapper">

    <div class="project-text">
      {{ content }}
    </div>

    {% assign post = site.projects | where: "slug", page.slug %}
    {% assign post = post[0]%}
    {% include scroller.html id="project" template="post-post-preview" items=post n_items=post.n_photos %}

  </div>
</div>