---
layout: page
no_wrapper: true
---

{% include meta-thumbnail.html %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<div class="article-container">
  {% unless page.hide_metadata %}
  <h3>{{ page.title }}</h3>
  <span class="post-date">{{ page.date | date: "%B %Y" }}</span>
  {% endunless %}

  {{ content }}

  {% assign pathsplit = page.path | split: '/' %}
  {% assign name_ext = pathsplit[-1] %}
  {% assign namesplit = name_ext | split: '.' %}
  {% assign page_name = namesplit[0] %}

  {% assign series_meta = site.data[page_name]['series'] %}
  {% unless page.hide_metadata %}
  <div class="photo-details">
    <div class="camera">{{ series_meta.camera_summary }}</div>
    <div class="lens">{{ series_meta.lens_summary }}</div>
    <div class="stock">{{ series_meta.stock_summary }}</div>
  </div>
  {% endunless %}
</div>