---
layout: page
no_wrapper: true
---

{% include meta-thumbnail.html %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<div class="film">
  <h2>{{ page.title }}</h2>
  {{ content }}

  {% assign pathsplit = page.path | split: '/' %}
  {% assign name_ext = pathsplit[-1] %}
  {% assign namesplit = name_ext | split: '.' %}
  {% assign page_name = namesplit[0] %}
    <div class="photo-list">
      {% for i in ( 1.. page.n_photos ) %}
        {% assign num_str = i | prepend: '00' | slice: -2, 2 %}
        <img src="/assets/img/film/{{ page_name }}/{{ num_str }}.webp">
      {% endfor %}
    </div>
    <div class="photo-details">
      <div class="camera">{{ page.camera }}</div>
      <div class="lens">{{ page.lens }}</div>
      <div class="stock">{{ page.film }}</div>
    </div>
</div>