---
layout: page
no_wrapper: true
---

{% include show-meta-preview.html %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<div class="film">
  {% include music-show.html show=page hidefeature=true %}
  <br>
  <br>

  {{ content }}

  {% assign pathsplit = page.path | split: '/' %}
  {% assign name_ext = pathsplit[-1] %}
  {% assign namesplit = name_ext | split: '.' %}
  {% assign page_name = namesplit[0] %}

  {% for rec in page.recordings %}
    {% include youtube.html src=rec %}
  {% endfor %}
</div>

