---
layout: page
no_wrapper: true
---

{% include meta-thumbnail.html %}

<link rel="stylesheet" href="{{ "/assets/css/film.css" | prepend: full_base_url }}">

<div class="film">
  <h3>{{ page.title }}</h3>
  <span class="post-date">{{ page.date | date: "%A, %B %d" }}</span>
  <br>
  <br>

  {{ content }}

  {% assign pathsplit = page.path | split: '/' %}
  {% assign name_ext = pathsplit[-1] %}
  {% assign namesplit = name_ext | split: '.' %}
  {% assign page_name = namesplit[0] %}

  {% for rec in page.recordings %}
    {% include youtube.html src=rec %}
  {% endfor %}
</div>

<!-- {% include post-footer.html %} -->